#accordion {
	border: 0;
	padding-left: 35%;
	padding-right: 35%;
	margin: 0
}

.skills{
    padding-top:100px;
    padding-bottom:100px;
    border-style:solid;
}

.oldUpgrade{

}

.newUpgrade{
   
}

canvas {
	margin: 100px;
}