<html>
	<head>
		<title>
			Rogue Zero
		</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/index.css')}}">
	</head>
	<body>
		<div id="container">
			<canvas id="canvas" oncontextmenu="return false;">
			</canvas>
		</div>
		<script src="static/js/socket.io.js"></script>
		<script src="static/js/Constants.js"></script>
		<script src="static/js/Util.js"></script>
		<script src="static/js/Game.js"></script>
		<script src="static/js/Drawing.js"></script>
		<script src="static/js/Input.js"></script>
		<script src="static/js/Entity.js"></script>
		<script src="static/js/Player.js"></script>
		<script src="static/js/Enemy.js"></script>
		<script src="static/js/Melee.js"></script>
		<script src="static/js/Projectile.js"></script>
		<script src="static/js/Tile.js"></script>
		<script src="static/js/client.js"></script>
	</body>
</html>
				
