<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
  </head>

  <body>
    <div class ="jumbotron text-center">
      <h2>RougeZero</h2>
    </div>
    
    <div class="container-fluid"> 
      <div class="col-md-6">
	<div class="form-group">
	  <input type="text" name="user" class="form-control" placeholder="Username" method="post" action="">
	</div>
	
	<br>
	
	<div class="form-group">
	  <input type="text" name="pass" class="form-control" placeholder="Password" method="post" action="">
	</div>
	
      </div>
    </div>
    
  </body>

  
</html>
