<!DOCTYPE html>
<html id="profile">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="../static/bootstrap/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="col-md-7">
      
      <table id="skillTable">
	
		<tr class="skills" id="health">
		  <td class="oldUpgrade">
			  {{oldSkill}}
		  </td>
		  <td class="arrow">
			<img src="arrow.png"> 
			<br>
			{{cost}}
		  </td>
		  <td class="newUpgrade">
			  <a href="">{{newSkill}}</a>
		  </td>
		</tr>

		<tr class="skills" id="speed">
		  <td class="oldUpgrade">
			  {{oldSkill}}
		  </td>
		  <td class="arrow">
			<img src="arrow.png"> 
			<br>
			{{cost}}
		  </td>
		  <td class="newUpgrade">
			  <a href="">{{newSkill}}</a>
		  </td>
		</tr>
		
		<tr class="skills" id="attackSpeed">
		  <td class="oldUpgrade">
			  {{oldSkill}}
		  </td>
		  <td class="arrow">
			<img src="arrow.png"> 
			<br>
			{{cost}}
		  </td>
		  <td class="newUpgrade">
			  <a href="">{{newSkill}}</a>
		  </td>
		</tr>

		<tr class="skills" id="shootDamage">
		  <td class="oldUpgrade">
			  {{oldSkill}}
		  </td>
		  <td class="arrow">
			<img src="arrow.png"> 
			<br>
			{{cost}}
		  </td>
		  <td class="newUpgrade">
			  <a href="">{{newSkill}}</a>
		  </td>
		</tr>

		<tr class="skills" id="meleeDmg">
		  <td class="oldUpgrade">
			  {{oldSkill}}
		  </td>
		  <td class="arrow">
			<img src="arrow.png"> 
			<br>
			{{cost}}
		  </td>
		  <td class="newUpgrade">
			  <a href="">{{newSkill}}</a>
		  </td>
		</tr>

		<tr class="skills" id="meleeSize">
		  <td class="oldUpgrade">
			  {{oldSkill}}
		  </td>
		  <td class="arrow">
			<img src="arrow.png"> 
			<br>
			{{cost}}
		  </td>
		  <td class="newUpgrade">
			  <a href="">{{newSkill}}</a>
		  </td>
		</tr>
	
      </table>
	  
    </div>

    <div class="col-md-5">
      <h1>Character Color</h1>
      <input type="color" name="charColor" onchange="clickColor(0,-1,-1,5)" value="#ff0000" style="width:25%; height:100px;">
      <br>
      <h2>Skill Points:</h2>
      {{skillPoints}}
	  <br>
	  <br>
	  <button type="button" class="btn btn-primary"> Confirm </button> 
    </div>
	
  </body>

</html>
